/* ================================================
FLOATING VERTICAL SIDEBAR STYLES
================================================ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

input[type="checkbox"].checkbox-input {
    display: none;
}

.vertical-sidebar {
    display: flex;
    position: fixed;
    top: calc(var(--navbar-height) + 1rem);
    left: 1rem;
    z-index: 999;
    inline-size: var(--expanded, 16.875rem);
}

.vertical-sidebar nav {
    background: var(--bg--primary);
    display: flex;
    flex-flow: column;
    min-width: var(--collapsed, 3.25rem);
    border-radius: var(--brad-outer, 0.75rem);
    flex: 0 0 auto;
    transition: flex-basis 300ms ease-out;
    will-change: flex-basis;
    padding: var(--frame-space, 0.5rem);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 17px rgba(0, 0, 0, 0.15);
}

.vertical-sidebar :checked ~ nav {
    flex-basis: var(--expanded, 16.875rem);
}

.vertical-sidebar :not(:checked) ~ nav {
    flex-basis: var(--collapsed, 3.25rem);
}

.vertical-sidebar header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0.5rem;
}

.sidebar__toggle-container {
    block-size: var(--item, 2.25rem);
    display: flex;
    justify-content: end;
}

.nav__toggle {
    block-size: 100%;
    background: none;
    transition: all 233ms ease-in;
    border-radius: var(--brad-inner, calc(0.75rem - 0.5rem));
    outline: 2px solid transparent;
    outline-offset: -2px;
    overflow: hidden;
    cursor: pointer;
}

.toggle--icons {
    block-size: inherit;
    aspect-ratio: 1;
    display: inline-grid;
    place-content: center;
    grid-template-areas: "svg";
    z-index: 10;
}

.toggle-svg-icon {
    grid-area: svg;
    fill: var(--gray--primary, var(--text-secondary));
    transition: fill 233ms ease-in;
}

.nav__toggle:hover {
    outline: 2px solid var(--primary);
}

.toggle--icons:hover .toggle-svg-icon {
    fill: var(--text-primary);
}

.vertical-sidebar figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    container-type: inline-size;
    gap: 0.375rem;
    margin-inline: 0;
    margin-block: 0.25rem;
}

.codepen-logo {
    margin-inline: auto;
    display: block;
    min-inline-size: 2.25rem;
    max-inline-size: 45cqi;
    aspect-ratio: 1;
    block-size: 100%;
    object-fit: cover;
    transition: width 100ms linear;
    filter: var(--icon-filter, none);
}

.vertical-sidebar figcaption {
    text-align: center;
}

.user-id {
    font-size: 1.0625rem;
    font-weight: 500;
    margin-block-end: 0.25rem;
    color: var(--text-primary);
}

.user-role {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-secondary);
}

.sidebar__wrapper {
    --list-gap: 0.5rem;
    display: flex;
    flex-flow: column;
    gap: var(--list-gap);
}

.sidebar__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.125rem;
    overflow: hidden;
}

.sidebar__item {
    block-size: var(--item, 2.25rem);
    border-radius: var(--brad-inner, calc(0.75rem - 0.5rem));
}

.item--heading {
    display: flex;
    align-items: end;
}

.sidebar__item--heading {
    margin-block-end: 0.4rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    font-weight: 500;
    color: var(--text-secondary);
    transition: color 200ms ease-in;
}

.sidebar__list:has(.sidebar__link):hover .sidebar__item--heading {
    color: var(--text-primary);
}

.sidebar__link {
    display: flex;
    text-decoration: none;
    block-size: 100%;
    align-items: center;
    gap: 0.5rem;
    outline: 2px solid transparent;
    border-radius: inherit;
    padding: 0 0.5rem;
}

.sidebar__link.country-filter-item {
    padding-left: 0.5rem;
}

.vertical-sidebar .icon {
    aspect-ratio: 1;
    block-size: 100%;
    display: inline-grid;
}

.vertical-sidebar .icon svg {
    place-self: center;
    inline-size: var(--svg, 1.125rem);
    block-size: var(--svg, 1.125rem);
    fill: var(--text-secondary);
}

.vertical-sidebar .text {
    pointer-events: none;
    color: var(--text-primary);
    font-size: 0.875em;
    font-weight: 500;
    transition: color 266ms ease-out;
}

.sidebar__link:hover {
    background: var(--bg--hover);
}

.sidebar__link:hover .icon svg {
    fill: var(--primary);
}

.sidebar__link:hover .text {
    color: var(--primary);
}

.sidebar__link:focus {
    outline: 2px solid var(--primary);
    outline-offset: -2px;
    background: var(--bg--focus);
}

.sidebar__link:focus .icon svg {
    fill: var(--primary);
}

.sidebar__link.active {
    background: var(--bg--hover);
}

.sidebar__link.active .icon svg {
    fill: var(--primary);
}

.sidebar__link.active .text {
    color: var(--primary);
    font-weight: 600;
}

.sidebar__link:active {
    background-color: var(--bg--active);
}

aside:not(:has(:checked)) .toggle--open,
aside:has(:checked) .toggle--close {
    opacity: 0;
}

aside:not(:has(:checked)) :where(figcaption, .item--heading) {
    opacity: 0;
}

aside:has(:checked) :where(figcaption, .item--heading) {
    transition: opacity 300ms ease-in 200ms;
}

[data-tooltip]::before {
    content: attr(data-tooltip);
    position: fixed;
    translate: calc(var(--item, 2.25rem) * 1.5) calc(var(--item, 2.25rem) * 0.125);
    border-radius: var(--brad-inner, calc(0.75rem - 0.5rem));
    padding: 0.5rem 0.75rem;
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    box-shadow: 0 6px 12px -6px var(--shadow-lg);
    border: 1px solid var(--border);
    opacity: 0;
    pointer-events: none;
    scale: 0 0;
    z-index: 999;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 350ms ease-out;
}

aside:not(:has(:checked))
    .sidebar__link:where(:hover, :focus-visible)[data-tooltip]::before {
    opacity: 1;
    scale: 1;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .vertical-sidebar {
        top: 0.5rem;
        left: 0.5rem;
        inline-size: var(--expanded, 16rem);
    }
}
